// Header style
header {
  background-image: url(../img/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  div {
    @include flex_center;
    flex-wrap: wrap;
    padding: 2% 3%;
    color: white;
    max-width: 1440px;
    margin: 0 auto;

    a {
      width: 50%;
    }
    h2 {
      width: 100%;
      text-align: center;
      margin: 10% 0 35% 0;
      font-family: "Fraunces", serif;
      font-size: 3rem;
      letter-spacing: 1rem;
    }
    .navbar {
      display: flex;
      width: 50%;
      justify-content: flex-end;
      font-family: "Barlow", sans-serif;
      li {
        padding: 1% 4%;
        line-height: 2.5rem;
        cursor: pointer;
      }
      .navbar-btn {
        color: black;
        background-color: white;
        font-family: "Fraunces", serif;
        border-radius: 30px;
      }
    }
  }
}

// Product descript section
.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      max-width: 1440px;
      display: flex;
      justify-content: center;
      div {
        width: 50%;
        padding: 15% 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          margin-bottom: 5%;
          padding-right: 5%;
          font-size: 2rem;
          font-family: "Fraunces", serif;
          line-height: 2.5rem;
        }
        p {
          margin-bottom: 10%;
          color: grey;
          line-height: 1.5rem;
          font-family: "Barlow", sans-serif;
        }
        span {
          font-family: "Fraunces", serif;
          font-size: 12px;
        }
      }
    }
  }
}
