// Header style
header {
  background-image: url(../img/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  div {
    @include flex_center;
    flex-wrap: wrap;
    padding: 2% 3%;
    color: white;
    max-width: 1440px;
    margin: 0 auto;

    a {
      width: 50%;
    }
    h2 {
      width: 100%;
      text-align: center;
      margin-top: 8%;
      font-family: "Fraunces", serif;
      font-size: 3rem;
      letter-spacing: 0.5rem;
    }
    .arrow-down {
      margin: 7% auto 20% auto;
    }
    .mobile-hamburger {
      display: none;
    }
    .navbar {
      display: flex;
      width: 50%;
      justify-content: flex-end;
      font-family: "Barlow", sans-serif;
      li {
        padding: 1% 4%;
        line-height: 2.5rem;
        cursor: pointer;
      }
      .navbar-btn {
        color: black;
        background-color: white;
        font-family: "Fraunces", serif;
        border-radius: 30px;
      }
    }
  }
  @include pad-width {
    background-image: url(../img/mobile/image-header.jpg);
    div {
      padding: 5% 5% 0 5%;
      h2 {
        margin: 23% 0 5% 0;
      }
      .mobile-hamburger {
        display: block;
        cursor: pointer;
      }
      .navbar {
        display: none;
      }
    }
  }
}

// Product descript section
.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      display: flex;
      justify-content: center;
      div {
        width: 50%;
        padding: 10% 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          margin-bottom: 5%;
          padding-right: 12%;
          font-size: 2rem;
          font-family: "Fraunces", serif;
          line-height: 2.5rem;
        }
        p {
          margin-bottom: 10%;
          color: grey;
          line-height: 1.5rem;
          font-family: "Barlow", sans-serif;
        }
        span {
          font-family: "Fraunces", serif;
          font-size: 12px;
        }
      }
      img {
        width: 50%;
      }
    }
    .graphic-block {
      color: $graphic-color;
      background-image: url(../img/desktop/image-graphic-design.jpg);
    }
    .photograph-block {
      color: $photograph-color;
      background-image: url(../img/desktop/image-photography.jpg);
    }
    .bg-setting {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: center;
      h4 {
        margin: 55% 0 5% 0;
        font-size: 1.5rem;
        font-family: "Fraunces", serif;
      }
      p {
        padding: 0 25%;
        margin-bottom: 8%;
        line-height: 1.5rem;
        font-family: "Barlow", sans-serif;
      }
    }
  }
}

// Client testmonials section
.client-section {
  max-width: 1440px;
  margin: 10% auto;
  padding: 0 5%;
  h6 {
    text-align: center;
    color: $client-color;
    letter-spacing: 0.2rem;
    font-family: "Fraunces", serif;
  }
  ul {
    display: flex;
    text-align: center;
    li {
      width: 33%;
      margin-top: 8%;
      img {
        width: 15%;
        border-radius: 300px;
      }
      p {
        margin: 10% auto;
        padding: 0 14%;
        color: grey;
        line-height: 1.5rem;
        font-family: "Barlow", sans-serif;
      }
      span {
        display: block;
      }
      .name-style {
        font-family: "Fraunces", serif;
      }
      .pos-style {
        margin-top: 4%;
        color: $client-color;
        font-size: 0.8rem;
        font-family: "Barlow", sans-serif;
      }
    }
  }
  @include pad-width {
    h6 {
      margin-bottom: 4%;
    }
    ul {
      flex-direction: column;
      li {
        width: 100%;
        margin: 12% 0;
      }
    }
  }
}

// Picture section
.pic-section {
  .desktop-style {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    img {
      width: 25%;
    }
  }
  .mobile-style {
    display: none;
  }
  @include pad-width {
    .desktop-style {
      display: none;
    }
    .mobile-style {
      display: block;
      display: flex;
      flex-wrap: wrap;
      img {
        width: 50%;
      }
    }
  }
}

// Footer
footer {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  background-color: $footer-color;
  .filter-green {
    filter: invert(26%) sepia(53%) saturate(399%) hue-rotate(116deg)
      brightness(35%) contrast(92%);
  }
  ul {
    display: flex;
    justify-content: center;
    li {
      margin: 3% 0;
      line-height: 1.5rem;
      font-family: "Barlow", sans-serif;
      cursor: pointer;
    }
  }
  .str-link {
    li {
      margin: 3% 2% 2.5% 2%;
      color: $lightgreen-color;
    }
  }
  .img-link {
    li {
      padding: 0 1%;
      margin-bottom: 4%;
    }
  }
  @include pad-width {
    .filter-green {
      margin: 5% 0 3% 0;
    }
    .img-link {
      margin-top: 8%;
      padding-bottom: 8%;
      li {
        padding: 0 2%;
      }
    }
  }
}
