// Header style
header {
  @include flex_center;
  flex-wrap: wrap;
  padding: 2% 3%;
  color: white;
  background-image: url(../img/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  a {
    width: 50%;
  }
  h2 {
    width: 100%;
    text-align: center;
    margin: 10% 0 35% 0;
    font-family: "Fraunces", serif;
    font-size: 3rem;
    letter-spacing: 1rem;
  }
  .navbar {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    font-family: "Barlow", sans-serif;
    li {
      padding: 1% 4%;
      line-height: 2.5rem;
      cursor: pointer;
    }
    .navbar-btn {
      color: black;
      background-color: white;
      font-family: "Fraunces", serif;
      border-radius: 30px;
    }
  }
}

// Product descript section
.product-section {
  max-width: 1440px;
  ul {
    display: flex;
    justify-content: center;
    li {
      display: flex;
      justify-content: center;
      div {
        width: 50%;
        border: 1px solid pink;
      }
      img {
        width: 50%;
      }
    }
  }
}
