@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Media Queries
$ipad-media: 767px;

@mixin pad-width() {
  @media all and (max-width: $ipad-media) {
    @content;
  }
}
